.parent-body-style {
    background: linear-gradient(rgba(255, 0, 0, 0.8), rgba(255, 255, 0, 0.3));
}
.parent-column-style {
    display: flex;
    align-items: center;
    justify-content: center;
}
.child-body-style {
    background: linear-gradient(rgba(9, 255, 0, 0.8), rgba(97, 95, 149, 0.3));
}
.child-column-style {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
